<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{layout/default_layout :: layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section>
	<div>
		<h2>회원 가입</h2>
	</div>
	<form th:action="@{/member/insertMember.do}" method="post">
		<table class="board_detail">
			<caption>회원가입 양식</caption>
			<colgroup>
				<col width="25%">
				<col width="75%">
			</colgroup>
			
			<tbody>
				<tr>
					<th>아이디</th>
					<td><input type="text" name="userId" placeholder="아이디 입력" required></td>
				</tr>
				<tr>
					<th>비밀번호</th>
					<td><input type="password" name="password" placeholder="비밀번호 입력" required></td>
				</tr>
				<tr>
					<th>이름</th>
					<td><input type="text" name="userName" placeholder="이름 입력" required></td>
				</tr>
				
				<tr>
					<td><button type="submit" class="btn">가입완료</button></td>
					<td><a th:href="@{/}" class="btn">취소</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</section>






</body>
</html>